
body{
  font-family: "Aleo", serif;
  font-family: 'Special Elite', cursive;
  font-family: 'Lato', sans-serif;
  font-family: 'Ubuntu', sans-serif;
};

/* only affects "home" button in nav tab */
#nav:hover {
  color: #0891b2;
};

/* not neccessary */
#side:hover {
  color: #ca8a04;
};

/* inuse */
#foot:hover {
  color: #0891b2;  
};

/* inuse */
button:hover {
  color: #0891b2;
};




/* homepage flip card stuff */

.flip {
  perspective: 1800px;
}

.flip .card {
  position: relative;
  width: 70%;
  height: 800px;
  cursor: pointer;
  transition: 1s ease-in-out;
  transform-style: preserve-3d;
}

.flip .card:hover {
  transform: rotateY(0.5turn);
}
.flip .card .item {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  transition: 1s ease-in-out;
}


.flip .card .back-side {
  transform: rotateY(0.5turn);
}